@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root{
    --Moderate-cyan: hsl(176, 50%, 47%) ;
    --Dark-cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 33%);
    --White: hsl(0, 0%, 100%);
    --Gray: hsl(0, 0%, 87%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner';
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--Gray);
}

.header-container{
    width: 100%;
    min-height: 480px;
    background-image: url(image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.center{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav{
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 12px 100vh rgba(0, 0, 0, 0.12);
}

.nav-child{
    position: relative;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.links{
    display: flex;
    gap: 1rem;
}

.link{
    text-decoration: none;
    color: var(--White);
    font-weight: 700;
}

.hamburger-container{
    display: none;
}

.hamburger{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.25rem;
    color: var(--White);
    font-size: 2rem;
}

.hamburger--active{
    background-color: var(--White);
    color: var(--Black);
}

.hamburger-links{
    position: absolute; 
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.hamburger-links .link{
    display: block;
    width: 180px;
    padding: 1rem 2rem;
    background-color: var(--White);
    color: var(--Black);
    text-wrap: nowrap;
}

.hamburger-links .link:hover{
    background-color: var(--Gray);
}

.hamburger-container{
    display: none;
}

.hamburger{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.25rem;
    color: var(--White);
    font-size: 2rem;
}

.hamburger--active{
    background-color: var(--White);
    color: var(--Black);
}

.hamburger-links{
    position: absolute; 
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.hamburger-links .link{
    display: block;
    width: 180px;
    padding: 1rem 2rem;
    background-color: var(--White);
    color: var(--Black);
    text-wrap: nowrap;
}

.hamburger-links .link:hover{
    background-color: var(--Gray);
}

.main-article{
    position: absolute;
    top: 350px;
    left: 50%;
    width: 100%;
    max-width: 800px;
    transform: translateX(-50%);
}

.main-article section{
    width: 100%;
    background-color: var(--White);
    padding: 3rem;
    border-radius: 7px;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.053);
}

.text-header-1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--Black)
}

.text-paragraph{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--Dark-gray)
}

.margin-bottom-1{margin-bottom: 1rem;}
.margin-bottom-2{margin-bottom: 2rem;}

button, input[type="text"]{
    min-width: 150px;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    margin: 0;
    height: auto;
    border-radius: 30px;
    outline: none;
    border: none;
}

button{
    cursor: pointer;
    color: var(--White);
    font-weight: 500;
    background-color: var(--Moderate-cyan);
    text-wrap: nowrap;
}


button:hover, #bookmark:hover::after{
    background-color: var(--Dark-cyan);
}

#bookmark{
    position: relative;
    padding-left: 3.6rem !important;
    width: 180px;
}

.bookmark--active{
    background-color: var(--Gray) !important;
    color: var(--Moderate-cyan) !important;
}

.bookmark--active:hover{
    background-color: var(--Moderate-cyan) !important;
    color: var(--White) !important;
}

.active #bookmark{
    background-color: var(--Gray);
}

#bookmark::after{
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 3.1rem;
    border-radius: 100%;
    background-image: url('icon-bookmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: var(--Moderate-cyan);
}

input[type="text"]{
    border: 1px solid var(--Black)
}

.active #bookmark::after{
    background-color: var(--Dark-cyan);
}

.stock{
    background-color: var(--Gray);
}

.out-of-stock *{
    opacity: 70%;
}

.out-of-stock button{
    position: relative;
    background-color: var(--Gray);
    opacity: 100%;
}

.out-of-stock button:hover{
    background-color: var(--Dark-gray);
}

.top-section .text-header-1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.top-section .text-paragraph{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.logo-mastercraft{
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.12);
}

.logo-mastercraft{
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.12);
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2rem;
}

.border-right{
    border-right: 1px solid var(--Black);
}

.riser-info {
    padding: 0 1rem;
}

.progress-bar{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 1rem;
    border-radius: 10px;
    background-color: var(--Gray);
    overflow: hidden;
}

.progress{
    height: 100%;
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--Moderate-cyan);
}

.pledge-choice{
    width: 100%;
    border: 1px solid var(--Gray);
    border-radius: 10px;
    padding: 0rem;
    margin-bottom: 1rem;
}


.pledge-choice--out-of-stock{
    width: 100%;
    border: 1px solid var(--Gray);
    border-radius: 10px;
    padding: 0rem;
    margin-bottom: 1rem;
}

.pledge-choice-2{
    width: 100%;
    border: 1px solid var(--Gray);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 1rem;
}


.pledge-choice--out-of-stock{
    width: 100%;
    border: 1px solid var(--Gray);
    border-radius: 10px;
    padding: 0rem;
    margin-bottom: 1rem;
}

.pledge-choice-2{
    width: 100%;
    border: 1px solid var(--Gray);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 1rem;
}


.pledge-with-input{
    position: relative;
    padding: 2rem;
    padding-left: 3rem !important;
}

.pledge-with-input .the-input{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
    left: 0.75rem;
}

.the-input{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--White);
    border: 2px solid var(--Moderate-cyan);
    border-radius: 100%;
}
.the-input-circle{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: var(--Moderate-cyan);
    border-radius: 100%;
}

.active .the-input-circle{
    display: block !important;
}

.choice-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.mark-cyan{
    color: var(--Moderate-cyan);
    font-weight: 700;
}

.choice-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice-window{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100vw;
    height: 100vh;
    padding: 2rem; 
    background-color: rgba(0, 0, 0, 0.256);
    display: flex;
    justify-content: center;
}

.choice-window{
    width: 100%;
    min-height: 3rem;
}
.choice-window section{ 
    position: relative;
    background-color: var(--White);
    border-radius: 10px;
    padding: 3rem 2rem;
    height: auto;
    max-width: 800px;
    width: 100%;
    overflow: visible;
    overflow-x: hidden;
}

.choice-nav{
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-icon{
    display: flex;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 2rem;
    overflow: hidden;
    border-radius: 100%;
    background-image: url(images/icon-close-menu.svg);
    background-color: var(--Black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.enter-pledge{
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    overflow-x: hidden;
    border-top: 1px solid var(--Moderate-cyan)
}

.active{
    border: 3px solid var(--Moderate-cyan)
}

.active .enter-pledge{
}

.active{
    border: 3px solid var(--Moderate-cyan)
}

.active .enter-pledge{
    display: flex;
}

.enter-pledge div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pledge-buttons{
    display: flex;
    gap: 1rem;
}

.pledge-buttons input{
    text-align: center;
    border-radius: 25px;
    min-width: 120px;
    width: 120px;
}


.pledge-completed{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    top: 0;
    background-color: hsla(0, 0%, 0%, 0.107);
}

.completed-container{
    width: 100%;
    max-width: 600px;
    padding: 4rem 3rem;
    height: auto;
    background-color: var(--White);
    border-radius: 10px;
}

.completed-container img{
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.completed-container button{
    display: block;
    margin: 0 auto;
}

.completed-container p{
    text-align: center;
}

.completed-container h1{
    text-align: center;
}


.pledge-completed{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    top: 0;
    background-color: hsla(0, 0%, 0%, 0.107);
}

.completed-container{
    width: 100%;
    max-width: 600px;
    padding: 4rem 3rem;
    height: auto;
    background-color: var(--White);
    border-radius: 10px;
}

.completed-container img{
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.completed-container button{
    display: block;
    margin: 0 auto;
}

.completed-container p{
    text-align: center;
}

.completed-container h1{
    text-align: center;
}

.hidden{
        display: none !important;
        display: none !important;
}

.error-label{
    color: red !important;
}

.error-input{
    border: 1px solid red !important;
    color: red !important;
}

@media (max-width: 700px){
    .hamburger-container{
        display: block;
    }

    .links{
        display: none;
    }

    .hamburger{
        display: flex;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .buttons button{
        width: 100%;
        text-wrap: nowrap;
    }

    .info-container{
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .info-container *{
        text-align: center;
    }


    .border-right{
        border: none;
    }

    .choice-window{
        padding: 0;
    }

    .choice-title{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
    }
    .choice-title *{
        text-align: center;
    }

    .choice-end{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .choice-end button{
        width: 100%;
    }

    .enter-pledge{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .pledge-buttons{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .pledge-buttons *{
        display: block;
        width: 100%;
    }

    .completed-container{
        min-height: 100vh;
        height: auto;
    }

}